<p>There is also an editor which can be used to create any layout which then may be shared as URL. The editor has two modes:</p>
<ol class="large">
  <li class="flex">
    <div class="t"><div class="tv" style="background-color: #ec8989;"></div></div>
    <span>Line of Sight mode: click hex to see line of sight information.</span>
  </li>
  <li class="flex">
    <div class="t"><div class="tv" style="background-color: #74dc6d;"></div></div>
    <span>Editing mode: add map tiles, drag and rotate them to place.</span>
  </li>
</ol>
