<p>The app has three <span class="sh" title="Keyboard shortcut: 1-3">modes</span>:</p>
<ol>
  <li class="flex">
    <div class="t"><div class="tv" style="background-color: orange;"></div></div>
    <span>Line of Sight mode: click a hex to see line of sight information.</span>
  </li>
  <li class="flex">
    <div class="t"><div class="tv" style="background-color: #74dc6d;"></div></div>
    <span>Monster AI mode: add <span class="sh" title="Keyboard shortcut: q-t">items</span> to map and click a monster to see its focus and action info.</span>
  </li>
  <li class="flex">
    <div class="t"><div class="tv" style="background-color: #aaf;"></div></div>
    <span>Editing mode: add map tiles, drag and rotate them to place. You can share the created map as an URL.</span>
  </li>
</ol>
