#q {
  display: flex;
  line-height: 21px;
  padding: 0 10px;
}

.tt {
  padding: 10px 0;
}

.t {
  background: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg width="44" height="32" version="1.1" viewBox="0 0 44 32" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16" r="15" fill="none" stroke="%23fdfefe" stroke-linecap="round" stroke-width="2.3" style="paint-order:normal"/><path d="m38 16-4.4-5.2c-.11-.12-.46-.11-.41.25.43 1.5.91 3 .89 4.9.03 2-.61 3.2-.87 4.8-.078.44.28.45.41.3z" fill="%23fff" fill-rule="evenodd"/></svg>');
  height: 32px;
  line-height: 21px;
  margin: 5px 10px 6px;
  position: relative;
  width: 32px;
}

.t input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  box-shadow: none;
  height: 32px;
  margin: 0 12px 0 0;
  outline: none;
  width: 32px;
}

.t input:last-child {
  margin: 0;
}

.tv {
  background: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg width="28" height="28" version="1.1" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><linearGradient id="a"><stop stop-color="%23fff" offset="0"/><stop stop-color="%23fff" stop-opacity="0" offset="1"/></linearGradient><radialGradient id="d" cx=".74" cy="12" r="11" gradientTransform="matrix(1 0 7.3e-6 1.1 13 -31)" gradientUnits="userSpaceOnUse"><stop stop-opacity="0" offset="0"/><stop stop-opacity="0" offset=".82"/><stop stop-opacity=".75" offset="1"/></radialGradient><radialGradient id="b" cx="22" cy="24" r="10" gradientTransform="matrix(1.6 -1.6 1.1 1.1 -40 .72)" gradientUnits="userSpaceOnUse" xlink:href="%23a"/><radialGradient id="c" cx="4.5" cy="5.9" r="8.9" gradientTransform="matrix(1.2 -1.1 .51 .56 -3.8 -25)" gradientUnits="userSpaceOnUse" xlink:href="%23a"/></defs><g transform="translate(-.0039 32)"><path d="m7.8-14 1e-7-7.2 6.2-3.6 6.2 3.6v7.2l-6.2 3.6z" fill="none" stroke="%23000" stroke-linecap="round" style="paint-order:normal"/><circle cx="14" cy="-18" r="12" fill="none" stroke="%23000" stroke-linecap="round" stroke-opacity=".97" stroke-width="3" style="paint-order:normal"/><g fill-rule="evenodd"><path d="m.57-18c.73-9.7 8-13 13-13 2.2-.11 4.1.26 4.3.85-1.4-.044-3.1-.17-4.6.1-7.5 1.2-11 5.1-12 12l-.49 4.7c-.39-.99-.59-2.1-.46-4.4z" fill="url(%23c)"/><path d="m25-22c-1.4-4.3-5.3-11 1.8-2.1 2.1 4.6 1.8 12-3.7 16-5.7 4.6-12 3.6-16 1.6-5-5-6.1-5.7 1.8-1.7 5.1 2.1 8.9 1.1 13-1.9 3.1-3 4.6-7.5 3.3-12z" fill="url(%23b)"/><path d="m3.4-13c3.1 6.9 12 9.9 19 3.3 4.9-5.6 3.7-14-2-18-3.1-1.7-1.3-2 1.2-.44 6.5 5.9 6 13 1.2 19-6.4 6.1-15 5-20-2-1-2.6-1-5.9.48-1.6z" fill="%23686666" fill-opacity=".52"/><path d="m5.4-6.9c4.8 3.7 12 4.4 18-.91 7.1-7.1 3.6-16 2-18 2.1 5.7 2.7 12-2.6 17-5.9 5-12 4.6-18 1.7z" fill-opacity=".4"/></g><ellipse cx="14" cy="-18" rx="12" ry="12" fill="url(%23d)" opacity=".72" style="paint-order:normal"/><path d="m9.6-15 1e-7-5 4.4-2.5 4.4 2.5v5l-4.4 2.5z" style="paint-order:normal"/><ellipse transform="matrix(.86 -.51 .55 .83 0 0)" cx="22" cy="-2.3" rx="7" ry="4.7" fill="%23fff" fill-opacity=".35" style="paint-order:normal"/></g></svg>') no-repeat;
  border-radius: 100%;
  height: 28px;
  left: 2px;
  pointer-events: none;
  position: absolute;
  top: 2px;
  transition: all .25s;
  width: 28px;
  z-index: 99;
}
