*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  height: 100%;
  position: relative;
}

body,
html {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
  line-height: 12px;
  position: relative;
}

body.editor-open #c {
  margin-right: 260px;
}

footer {
  background: #0008;
  bottom: 0;
  display: block;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  z-index: 99;
}

p {
  margin: 10px 0;
}

#c {
  margin-bottom: 60px;
  position: relative;
  z-index: 10;
}

button,
input,
select {
  background: #000;
  border: 1px solid #fff;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
}

button {
  margin: 0 5px 5px 0;
}

button[disabled],
input[disabled] {
  background: #333;
  color: #ccc;
  cursor: default;
}

button.active {
  background: #33ff;
}

/* board */

#board {
  pointer-events: none;
  position: absolute;
  top: 0;
  user-select: none;
  z-index: 5;
}

.map-tile {
  cursor: pointer;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 1;
}

.map-tile.img-loading,
.map-tile.img-error {
  background: #fff8;
}

.map-tile.img-error img {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.map-tile.img-loading::after {
  animation: spin .6s infinite linear;
  border: 15px solid #fff;
  border-left-color: transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 120px;
  left: calc(50% - 60px);
  position: absolute;
  top: calc(50% - 60px);
  width: 120px;
}

.map-tile.img-error::after {
  color: #fff;
  content: "Image failed to load.";
  display: block;
  font-size: 30px;
  height: 120px;
  left: calc(50% - 100px);
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: calc(50% - 60px);
  width: 200px;
}

.map-tile canvas {
  left: 0;
  position: relative;
  top: 0;
  z-index: 3;
}

.map-tile img {
  left: -38px;
  pointer-events: none;
  position: absolute;
  top: -16px;
  z-index: 2;
}

#drag-shadow {
  position: absolute;
  z-index: 9;
}

.flex {
  display: flex;
}

/* EDITOR */

#editor-controls {
  background: #000c;
  display: flex;
  height: 43px;
  left: 0;
  line-height: 21px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

#editor-controls section {
  height: 100%;
  padding: 10px;
  vertical-align: top;
}

#editor-controls section:first-child {
  border-left: none;
}

#tile-select-wrap {
  display: none;
}

.editor-on #tile-select-wrap {
  display: block;
}

/* PIECE CONTROLS */

#piece-controls {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 50;
}

.editor-on:not(.editor-dragging) img {
  outline: 4px dotted #fff;
}

.control-wrap {
  height: 0;
  position: absolute;
  width: 220px;
}

.editor-dragging .control-wrap {
  display: none;
}

.control-button {
  background: #000 -1px -1px;
  height: 40px;
  margin: 16px;
  position: relative;
  width: 40px;
}

input:focus,
select:focus,
.control-button:focus {
  outline: none;
}

.keyboard input:focus,
.keyboard select:focus,
.keyboard .toggle input:focus + label,
.keyboard .control-button:focus {
  outline: 2px solid #a0f;
  outline-offset: 0;
}

.control-button-1 {
  background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" standalone="no"?><svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 40 40" height="40" width="40"><path d="m 29.383,32.023 3.848,-7.590 -2.812,0.162 c 0.138,-7.308 -4.934,-9.576 -8.007,-11.682 l -1.600,3.016 c 3.092,1.896 6.415,3.555 6.210,8.862 L 24.702,24.861 Z M 20.898,10.468 a 3.209,3.209 0 0 0 -4.383,1.174 3.209,3.209 0 0 0 1.174,4.383 3.209,3.209 0 0 0 4.383,-1.174 3.209,3.209 0 0 0 -1.174,-4.383 z" style="fill:%23e26868;"/><path d="M 20,35.243 6.798,27.621 6.798,12.378 20,4.756 33.201,12.378 v 10.150 l -0.968,0.060 C 31.885,18.744 29.425,14.620 24.197,11.816 23.759,10.450 22.852,9.199 21.178,8.513 19.942,7.889 15.700,7.581 14.365,11.944 c -1.056,3.745 2.610,7.400 6.386,6.167 2.315,1.341 4.078,2.880 4.251,4.837 l -3.728,0.117 5.394,8.259 z" style="fill:%23fff;"/></svg>');
}

.control-button-2 {
  background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" standalone="no"?><svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 40 40" height="40" width="40"><path d="m 15.257,26.936 7.382,4.233 -0.021,-2.524 C 33.541,27.016 30.983,11.895 22.091,11.730 l -0.025,3.023 c 4.993,-0.025 7.647,8.807 0.603,11.017 L 22.651,22.630 Z M 20.898,10.468 C 19.363,9.581 17.401,10.107 16.515,11.642 c -0.886,1.534 -0.360,3.497 1.174,4.383 1.534,0.886 3.482,0.340 4.368,-1.194 0.886,-1.534 0.375,-3.478 -1.159,-4.364 z" style="fill:%23e26868;"/><path d="M 20,35.243 6.798,27.621 6.798,12.378 20,4.756 33.201,12.378 v 15.243 l -8.646,4.995 -0.019,-2.421 c 3.281,-0.855 5.641,-3.222 6.620,-6.208 1.573,-4.093 0.034,-12.802 -7.990,-14.079 -0.483,-0.578 -1.123,-1.002 -1.821,-1.344 -2.881,-1.225 -5.563,0.326 -6.625,2.406 -1.479,3.200 0.404,5.731 1.839,6.597 1.238,0.747 2.686,1.023 4.160,0.585 1.408,-0.456 2.198,-1.330 2.198,-1.330 0.688,0.234 1.619,1.109 1.943,2.318 l -13.360,7.797 11.437,6.625 z" style="fill:%23fff;"/></svg>');
}

.control-button-3 {
  background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" standalone="no"?><svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 40 40" height="40" width="40"><path d="M 23.533,19.462 19.095,14.231 c 2.913,-2.051 3.740,-1.902 4.475,-1.657 l 2.965,3.573 4.493,-4.880 c 1.410,-1.383 2.522,0.118 2.928,0.626 l -5.654,6.317 4.383,5.193 c -1.111,0.878 -3.349,2.467 -4.567,1.602 l -2.836,-3.444 -4.586,4.954 c -1.243,1.171 -2.284,-0.019 -2.854,-0.736 z" style="fill:%23e26868;"/><path d="m 20,4.756 -13.201,7.621 4e-7,15.243 L 20,35.243 33.201,27.621 33.198,26.081 c -1.642,0.931 -3.816,2.327 -5.841,0.800 l -2.214,-2.715 -3.949,4.289 c -1.791,1.555 -3.551,1.808 -6.323,-1.880 l 6.340,-7.071 -5.166,-6.142 c 3.691,-2.677 5.745,-3.839 8.156,-2.857 l 2.476,3.013 2.967,-3.197 c 0,0 -7.837,-4.524 -9.643,-5.564 z" style="fill:%23fff;"/><path d="m 33.197,15.208 -2.625,2.946 2.625,3.114 z" style="fill:%23fff;"/></svg>');
  background-position-x: -1px;
}

/* TOGGLE */

.toggle {
  cursor: pointer;
  height: 32px;
  margin-left: 5px;
  position: relative;
  top: -5px;
  width: 76px;
}

.toggle::after {
  left: auto;
  right: 0;
}

.toggle input {
  opacity: 0;
}

.toggle label {
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.toggle label::after {
  background: #ec8989 url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg version="1.1" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><linearGradient id="a"><stop stop-color="%23fff" offset="0"/><stop stop-color="%23fff" stop-opacity="0" offset="1"/></linearGradient><radialGradient id="f" cx=".744" cy="12.093" r="11" gradientTransform="matrix(1.049,0,7.312e-6,1.066,13.222,-30.903)" gradientUnits="userSpaceOnUse"><stop stop-opacity="0" offset="0"/><stop stop-opacity="0" offset=".82"/><stop stop-opacity=".75" offset="1"/></radialGradient><radialGradient id="e" cx="21.912" cy="23.6" r="10.333" gradientTransform="matrix(1.625 -1.623 1.108 1.109 -39.852 .724)" gradientUnits="userSpaceOnUse" xlink:href="%23a"/><radialGradient id="d" cx="4.527" cy="5.898" r="8.866" gradientTransform="matrix(1.215 -1.095 .509 .564 -3.83 -24.787)" gradientUnits="userSpaceOnUse" xlink:href="%23a"/></defs><g transform="translate(-.003 32.006)"><circle cx="14.003" cy="-18.009" r="12.5" fill="none" stroke="%23000" stroke-linecap="round" stroke-width="3"/><path d="m0.567-18.415c0.734-9.73 7.961-12.897 13.174-13.16 2.227-0.114 4.055 0.26 4.261 0.854-1.42-0.044-3.035-0.484-4.586-0.207-7.526 1.243-11.23 5.075-12.294 11.904l-0.091 4.987c-0.392-0.985-0.588-2.12-0.464-4.379z" fill="url(%23d)" fill-rule="evenodd"/><path d="m25.047-21.558c-1.441-4.261-5.282-11.172 1.759-2.114 2.087 4.581 1.778 11.621-3.748 16.368-5.713 4.59-11.966 3.642-15.727 1.638-4.988-5.014-6.093-5.658 1.781-1.738 5.111 2.088 8.899 1.1 12.685-1.934 3.118-2.956 4.603-7.493 3.25-12.219z" fill="url(%23e)" fill-rule="evenodd"/><path d="m3.427-13.271c3.093 6.889 12.288 9.901 18.978 3.316 4.917-5.632 3.656-14.123-1.973-17.798-3.113-1.732-1.291-2.026 1.245-0.437 6.541 5.924 6.035 12.839 1.177 18.583-6.403 6.128-14.609 4.958-19.904-2.043-1.012-2.557-1.009-5.921 0.475-1.62z" fill="%23686666" fill-opacity=".52" fill-rule="evenodd"/><path d="m5.434-6.933c4.844 3.668 12.415 4.396 18.241-0.914 7.118-7.127 3.61-15.616 1.976-17.967 2.111 5.71 2.68 11.682-2.566 17.206-5.852 4.985-11.891 4.585-17.651 1.674z" fill-opacity=".4" fill-rule="evenodd"/><path d="m14.003-17.766v-6.607" fill="none" stroke="%23000" stroke-linecap="round" stroke-width="2.736"/><path d="m17.815-21.441c0.986 0.924 1.614 2.472 1.619 3.836-0.056 3.095-2.518 5.397-5.431 5.403-2.838-6e-3 -5.414-2.251-5.424-5.403 0.042-1.834 0.805-3.014 1.598-3.824" fill="none" stroke="%23000" stroke-linecap="round" stroke-width="2.28"/><ellipse cx="14.003" cy="-18.009" rx="11.555" ry="11.771" fill="url(%23f)" opacity=".72"/><ellipse transform="matrix(.86 -.509 .553 .832 0 0)" cx="21.922" cy="-2.253" rx="6.993" ry="4.662" fill="%23fff" fill-opacity=".348"/></g></svg>') no-repeat;
  border-radius: 100%;
  content: "";
  display: block;
  height: 28px;
  left: 2px;
  position: absolute;
  top: 2px;
  transform: translateX(0);
  transition: all .4s;
  width: 28px;
  z-index: 3;
}

.toggle input:checked + label::after {
  background-color: #74dc6d;
  transform: translateX(44px);
}

.toggle label::before {
  background: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" standalone="no"?><svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 76 32" height="32" width="76"><circle r="14.72" cy="16" cx="16" style="stroke:%23fff;stroke-width:2.3"/><path d="m 37.944,16 -4.368,-5.164 c -0.111,-0.123 -0.464,-0.109 -0.410,0.252 0.425,1.490 0.909,3.002 0.885,4.912 0.029,2.001 -0.605,3.225 -0.870,4.834 -0.077,0.441 0.278,0.451 0.410,0.299 z" style="fill:%23fff;"/><circle r="14.72" cy="16" cx="60" style="stroke:%23fff;stroke-width:2.3;"/></svg>') no-repeat;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.toggle input:checked + label::before {
  transform: scaleX(-1);
}
