@font-face {
  font-family: 'Pirata One';
  font-style: normal;
  font-weight: normal;
  src: url(./assets/PirataOne-Gloomhaven.ttf) format('truetype');
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-corner {
  background: #000;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border: 3px solid #000;
  border-radius: 6px;
}

html {
  height: 100%;
  position: relative;
}

body,
html {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
  line-height: 12px;
  position: relative;
}

body.modal-open {
  overflow: hidden;
}

body.modal-open > *:not(#n) {
  filter: blur(1.5px) brightness(0.75)
}

#n {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 998;
}

body.modal-open #n {
  display: flex;
}

#m {
  border: 70px solid #fff;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg width="360" height="360" version="1.1" viewBox="70 -70 360 360" xmlns="http://www.w3.org/2000/svg"><defs><filter id="a" color-interpolation-filters="sRGB"><feFlood flood-color="rgb(0,0,0)" result="flood"/><feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1"/><feGaussianBlur in="composite1" result="blur" stdDeviation="12"/><feOffset dx="0" dy="0" result="offset"/><feComposite in="SourceGraphic" in2="offset" result="composite2"/></filter><filter color-interpolation-filters="sRGB"><feFlood flood-color="rgb(0,0,0)" result="flood"/><feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1"/><feGaussianBlur in="composite1" result="blur" stdDeviation="16"/><feOffset dx="0" dy="0" result="offset"/><feComposite in="offset" in2="SourceGraphic" operator="out" result="composite2"/></filter></defs><g transform="translate(0 -762.5)"><g fill-rule="evenodd" filter="url(%23a)" stroke="%23fff" stroke-width="2"><path d="m102 724.5h260.9v23.37l17.46 7.31 4.573-5.386 3.895 6.615 9.218-10.48v255.1l-18.63 19.45h-259l-18.41-18.05z"/><path d="m398 1021v-11.06l-11.06 11.06z" fill="%23fff"/><path d="m102 1021h11.06l-11.06-11.06z" fill="%23fff"/></g></g></svg>');
  border-image-slice: 20%;
  border-image-repeat: round;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 20px;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  width: 500px;
  z-index: 999;
}

#mm {
  background: #000;
  clip-path: polygon(0 0, calc(100% - 26px) 0, calc(100% - 26px) 26px, 100% 26px, 100% 100%, 0 100%);
  margin: -30px -30px -25px;
  max-height: calc(100vh - 125px);
  overflow-y: auto;
  padding: 1px 10px;
}

#m h1 {
  font-size: 22px;
  line-height: 30px;
  margin: 0 20px 20px 0;
}

#mc {
  background: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg width="19" height="19" version="1.1" viewBox="0 0 19 19" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-16 -9.1)" display="none"><path d="m20 35-13-7.6-4e-7-15 13-7.6 13 7.6v15z" fill="%23fff"/></g><path d="m6.4 10-4.5-5.3c2.9-2.1 4.3-2.5 5.5-2l2.7 3.2 4.5-4.8c1.4-1.4 3.2.76 3.6 1.4l-5.7 6.3 4.5 5.3c-1.1.88-4 3.2-5.6 1.9l-2.5-3-4.4 4.7c-1.2 1.2-3-.0014-3.8-1.3z" fill="%23e26868" fill-rule="evenodd" stroke="%23000" stroke-width="1.2"/></svg>') no-repeat 0 0 / 26px;
  border: none;
  display: block;
  height: 26px;
  position: absolute;
  right: -37px;
  top: -44px;
  width: 26px;
}

#m p {
  margin-bottom: 16px;
}

#m .t {
  margin-left: 0;
}

#m .t+span {
  flex-shrink: 99;
}

a {
  border-bottom: 1px dotted #fffa;
  color: #fff;
  text-decoration: none;
}

header {
  background: #0008;
  display: flex;
  padding: 0 10px;
  position: absolute;
  width: 100%;
  z-index: 99;
}

#iw {
  align-self: center;
  flex-grow: 1;
  text-align: right;
}

#i {
  background: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg width="32" height="32" version="1.1" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g aria-label="i"><path d="m18 13 .0043 9.5c.00049 1.1.93 1.9 1.7 2.1v.61l-3.4 1.6c-.41-.17-.8-.44-1.2-.81-.35-.39-.52-.74-.52-1.1l-.0085-9.5c-.00095-1.1-1-1.9-1.8-2.1l-.0043-.79 3.5-1.5c.41.17.8.45 1.2.83.35.37.52.72.52 1.1zm-3.8-5.3v-1.6c0-.056.39-.22 1.2-.5.78-.3 1.2-.45 1.4-.45.13 0 .3.16.52.48.24.32.36.64.36.97v2c0 .056-.36.23-1.1.52-.71.28-1.2.42-1.4.42-.19 0-.39-.16-.58-.48-.21-.34-.31-.76-.31-1.3z" fill="%23fff"/><circle cx="16" cy="16" r="15" fill="none" stroke="%23fff" stroke-width="2"/></g></svg>') no-repeat 0 0 / 24px;
  border: none;
  display: inline-block;
  height: 24px;
  width: 24px;
}

p {
  margin: 10px 0;
}

#a {
  flex-grow: 1;
}

#c {
  position: relative;
  z-index: 10;
}

button,
input,
select {
  background: #000;
  border: 1px solid #fff;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
}

select {
  height: 26px;
  margin-top: -2px;
}

button {
  margin: 0 5px 5px 0;
}

button[disabled],
input[disabled] {
  background: #333;
  color: #ccc;
  cursor: default;
}

button.active {
  background: #33ff;
}

.hidden {
  display: none !important;
}

/* board */

#board,
#items {
  pointer-events: none;
  position: absolute;
  top: 0;
  user-select: none;
  z-index: 5;
}

.item-tile,
.map-tile {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

.corridor-tile .img-wrap {
  height: 156px;
  overflow: hidden;
  width: 90px;
}

.door-tile .img-wrap,
.x-tile .img-wrap {
  height: 78px;
  overflow: hidden;
  width: 90px;
}

.corridor-tile img,
.door-tile img,
.x-tile img {
  position: absolute;
}

.corridor-tile[data-color="5"] img,
.door-tile[data-color="1"] img {
  left: -190px;
}

.corridor-tile[data-color="6"] img,
.door-tile[data-color="2"] img,
.x-tile img {
  left: -96px;
}

.corridor-tile[data-color="7"] img,
.door-tile[data-color="3"] img {
  left: -285px;
}

.img-loading,
.img-error {
  background: #fff8;
}

.img-error img {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.img-loading::after {
  animation: spin .6s infinite linear;
  border: 15px solid #fff;
  border-left-color: transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 120px;
  left: calc(50% - 60px);
  position: absolute;
  top: calc(50% - 60px);
  width: 120px;
}

.img-error::after {
  color: #fff;
  content: "Image failed to load.";
  display: block;
  font-size: 30px;
  height: 120px;
  left: calc(50% - 100px);
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: calc(50% - 60px);
  width: 200px;
}

.map-tile canvas {
  left: 0;
  position: relative;
  top: 0;
  z-index: 3;
}

.img-wrap {
  left: -38px;
  pointer-events: none;
  position: absolute;
  top: -16px;
  z-index: 2;
}

.img-wrap img {
  filter: brightness(1);
  transition: filter .2s;
}

#drag-shadow {
  position: absolute;
  z-index: 9;
}

.flex {
  display: flex;
}

/* EDITOR */

#editor-controls {
  display: flex;
  height: 43px;
  line-height: 21px;
}

#editor-controls section {
  height: 100%;
  padding: 10px;
  vertical-align: top;
}

#editor-controls section:first-child {
  border-left: none;
}

#tile-select-wrap {
  display: none;
}

.editor-on #tile-select-wrap {
  display: block;
}

#dt {
  background: transparent url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg width="38" height="32" version="1.1" viewBox="0 0 38 32" xmlns="http://www.w3.org/2000/svg"><g><rect x=".5" y=".5" width="29" height="31" stroke="%23fff"/><path d="m5 4.5h16l3.7 4.4v.58l-5.2 6.1c3.1 4 4 2.7 5.2 2.1v9.3h-20z" fill="%23fff"/><g fill="none" stroke="%23000" stroke-width="1.2"><path d="m11 3.1 3.5 6.1-3.5 6.1h-7"/><path d="m4.3 15h7l3.5 6.1-3.5 6.1"/><path d="m25 15-3.5 6.1h-7l-3.5-6.1 3.5-6.1h7z"/></g><path d="m21 21 3.5 6.1"/></g><path d="m25 10-4.6-5.5c2.9-2.1 4.4-2.4 5.7-1.8l2.7 3.2 4.5-4.8c1.4-1.4 3.2.76 3.6 1.4l-5.7 6.3 4.5 5.3c-1.1.88-4 3.2-5.6 1.9l-2.5-3-4.4 4.7c-1.2 1.2-3-.0014-3.8-1.3z" fill="%23e26868" fill-rule="evenodd" stroke="%23000" stroke-width="1.2"/></svg>');
  border: none;
  display: none;
  height: 32px;
  margin: -5px 0 0 0;
  vertical-align: top;
  width: 38px;
}

.editor-on #dt {
  display: initial;
}

/* PIECE CONTROLS */

#aw,
#fw,
#ic,
#piece-controls {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 50;
}

.editor-on:not(.editor-dragging) .map-tile .img-wrap {
  outline: 4px dotted #fff;
}

.map-tile-focus .img-wrap img {
  filter: brightness(1.2);
}

.control-wrap {
  height: 0;
  position: absolute;
  width: 220px;
}

.editor-dragging .control-wrap {
  display: none;
}

.control-button {
  background: #000 -1px -1px;
  height: 40px;
  margin: -4px 36px 0 -4px;
  position: relative;
  width: 40px;
}

button:focus,
input:focus,
select:focus,
.control-button:focus {
  outline: none;
}

.keyboard button:focus,
.keyboard input:focus,
.keyboard select:focus,
.keyboard .control-button:focus {
  outline: 2px solid #a0f;
  outline-offset: 0;
}

.control-button-1 {
  background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" standalone="no"?><svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 40 40" height="40" width="40"><path d="m 29.383,32.023 3.848,-7.590 -2.812,0.162 c 0.138,-7.308 -4.934,-9.576 -8.007,-11.682 l -1.600,3.016 c 3.092,1.896 6.415,3.555 6.210,8.862 L 24.702,24.861 Z M 20.898,10.468 a 3.209,3.209 0 0 0 -4.383,1.174 3.209,3.209 0 0 0 1.174,4.383 3.209,3.209 0 0 0 4.383,-1.174 3.209,3.209 0 0 0 -1.174,-4.383 z" style="fill:%23e26868;"/><path d="M 20,35.243 6.798,27.621 6.798,12.378 20,4.756 33.201,12.378 v 10.150 l -0.968,0.060 C 31.885,18.744 29.425,14.620 24.197,11.816 23.759,10.450 22.852,9.199 21.178,8.513 19.942,7.889 15.700,7.581 14.365,11.944 c -1.056,3.745 2.610,7.400 6.386,6.167 2.315,1.341 4.078,2.880 4.251,4.837 l -3.728,0.117 5.394,8.259 z" style="fill:%23fff;"/></svg>');
}

.control-button-2 {
  background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" standalone="no"?><svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 40 40" height="40" width="40"><path d="m 15.257,26.936 7.382,4.233 -0.021,-2.524 C 33.541,27.016 30.983,11.895 22.091,11.730 l -0.025,3.023 c 4.993,-0.025 7.647,8.807 0.603,11.017 L 22.651,22.630 Z M 20.898,10.468 C 19.363,9.581 17.401,10.107 16.515,11.642 c -0.886,1.534 -0.360,3.497 1.174,4.383 1.534,0.886 3.482,0.340 4.368,-1.194 0.886,-1.534 0.375,-3.478 -1.159,-4.364 z" style="fill:%23e26868;"/><path d="M 20,35.243 6.798,27.621 6.798,12.378 20,4.756 33.201,12.378 v 15.243 l -8.646,4.995 -0.019,-2.421 c 3.281,-0.855 5.641,-3.222 6.620,-6.208 1.573,-4.093 0.034,-12.802 -7.990,-14.079 -0.483,-0.578 -1.123,-1.002 -1.821,-1.344 -2.881,-1.225 -5.563,0.326 -6.625,2.406 -1.479,3.200 0.404,5.731 1.839,6.597 1.238,0.747 2.686,1.023 4.160,0.585 1.408,-0.456 2.198,-1.330 2.198,-1.330 0.688,0.234 1.619,1.109 1.943,2.318 l -13.360,7.797 11.437,6.625 z" style="fill:%23fff;"/></svg>');
}

.control-button-3 {
  background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" standalone="no"?><svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 40 40" height="40" width="40"><path d="M 23.533,19.462 19.095,14.231 c 2.913,-2.051 3.740,-1.902 4.475,-1.657 l 2.965,3.573 4.493,-4.880 c 1.410,-1.383 2.522,0.118 2.928,0.626 l -5.654,6.317 4.383,5.193 c -1.111,0.878 -3.349,2.467 -4.567,1.602 l -2.836,-3.444 -4.586,4.954 c -1.243,1.171 -2.284,-0.019 -2.854,-0.736 z" style="fill:%23e26868;"/><path d="m 20,4.756 -13.201,7.621 4e-7,15.243 L 20,35.243 33.201,27.621 33.198,26.081 c -1.642,0.931 -3.816,2.327 -5.841,0.800 l -2.214,-2.715 -3.949,4.289 c -1.791,1.555 -3.551,1.808 -6.323,-1.880 l 6.340,-7.071 -5.166,-6.142 c 3.691,-2.677 5.745,-3.839 8.156,-2.857 l 2.476,3.013 2.967,-3.197 c 0,0 -7.837,-4.524 -9.643,-5.564 z" style="fill:%23fff;"/><path d="m 33.197,15.208 -2.625,2.946 2.625,3.114 z" style="fill:%23fff;"/></svg>');
  background-position-x: -1px;
}

ol,
ul {
  margin: 16px 0;
  padding: 0;
}

ul {
  padding-left: 20px;
}

ol li {
  line-height: 16px;
  margin-bottom: 12px;
}

li.flex {
  align-items: center;
}
